/* navbar items */
body > div > nav > div > div > ul:nth-child(2) > li > a {
	border-radius: 1.5em;
	font-weight: bold;
}
body > div > nav > div > div > ul:nth-child(2) > li > a:hover {
	font-weight: bold;
	background: #afccf7;
	border-radius: 1.5em;
}
/* body > div#app > nav > div > div#navbarSupportedContent > ul.navbar-nav.ms-auto > li.nav-item.dropdown{
	
}

body > div#app > nav > div > div#navbarSupportedContent > ul.navbar-nav.ms-auto > li.nav-item.dropdown > a{
	
	
} */


body > div#app > nav > div > div#navbarSupportedContent > ul.navbar-nav.ms-auto > li.nav-item.dropdown > div.dropdown-menu.dropdown-menu-right{
	/* right: 100px; */
}

/* #navbarSupportedContent > ul.navbar-nav.ms-auto > li > div */

body > div#app > nav.navbar.navbar-expand-md.navbar-light.bg-transparent > div > div{
	position: relative;
	
}


body > div#app > nav.navbar.navbar-expand-md.navbar-light.bg-transparent > div > div > div{
	position: relative;
	left: -10%;
	/* background-color: #afccf7; */
	
}


