html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}



body {
	background: url('../imgs/homeBackground.svg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* cards */

main > div > div > div > a > img {
	width: 105%;
	height: auto;
	border-radius: 5rem;
}

main > div > div > div > a > img:nth-child(2) {
	display: none;
}

main > div > div > div > a:hover > img:nth-child(1) {
	display: none;
}

main > div > div > div > a:hover > img:nth-child(2) {
	display: block;
	box-shadow:3px 3px 12px grey;
}