html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}


body {
	background: url('../imgs/background.svg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.card {
	background-color:rgba(169, 169, 169, 0.5);
	border-radius: 3rem;
}

/* title */
main > div > div > div > div > div:nth-child(1) {
	color:rgb(114, 114, 114);
	text-shadow: 0.5px 0.5px 1.5px black;
}

/* btn */
main > div > div > div > div > div> form > div > div > button {
	border-radius: 5rem;
	background-color: #94E0EE;
	padding: 2% 6%;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	border: none;
}
#app > main > div > div > div > div{
	position: relative;
	top:90px;
}
#app > main > div > div > div > div > div.card-body.mt-3 > form > div:nth-child(5) > div > button:hover{
	background-color: #61ddf3;
}
#app > main > div > div > div > div > div.card-body.mt-3 > form > div:nth-child(2){
	position: relative;
	top:25px;
}
#app > main > div > div > div > div > div.card-body.mt-3 > form > div:nth-child(3){
	position: relative;
	top:30px;
}
#app > main > div > div > div > div > div.card-body.mt-3 > form > div:nth-child(4){
	position: relative;
	top:30px;
}
#app > main > div > div > div > div > div.card-body.mt-3 > form > div:nth-child(5){
	position: relative;
	top:30px;
}