/* container */
/* main > div {
	background-color: rgb(219, 219, 219);
	border-radius: 5rem;
} */

main > div > div {
	min-height: 710px;
}

/* house list */
main > div > div > div:nth-child(1) {
	background-image: linear-gradient(to bottom right, rgb(214, 237, 255) , #cee4f5);
	border-radius: 2rem;
}

main > div > div > div:nth-child(1) > a {
	text-decoration: none;
	background-color: #ffffff;
	border-radius: 2rem;
	color: black;
}

/* house image */
main > div > div > div:nth-child(1) > a > img{
	width: 15%;
	height: auto;
}

/* add keywords */
main > div > div > div:nth-child(2) {
	background-image: linear-gradient(to bottom right, rgb(214, 237, 255) , #bed7fd );
	border-radius: 2rem;
}

/* region selection */
#region {
	-webkit-appearance: none;
	/* -moz-appearance: none; */
	appearance: none; 
	background-color: #bed7fd ;
	font-size: x-large;
	border-radius: 3rem;
	border: none;
	background-image: url('../imgs/triangleIcon.svg');
	background-repeat: no-repeat;
	background-size: 10% 60%;
	background-position: right 14% center;
	height: 80%;
}

#region:hover {
	background-color: #93b9f3 ;
}

/* keyword input */
main > div > div > div> form > div > div:nth-child(2){
	width: 100%;
	
}

#keywords {
	width: 100%;
	/* height: 110%; */
	position:relative;
	top:5px;
	background-color: rgba(255, 255, 255, 0.86);
}

/* submit btn */
main > div > div > div > form > div > div > div:nth-child(2) > input[type="submit"] {
	background-color: #8eb8f7 ;
	border: rgb(128, 128, 128) 1px solid;
	border-radius: 2em;
	position:relative;
	top:7px;
	height: 57%;
}

main > div > div > div > form > div > div > div:nth-child(2) > input[type="submit"]:hover {
	background-color: rgb(105, 160, 243) ;
}

/* keyword selection */
main > div > div > div > form > div > div > label.btn-primary {
	background-color: rgb(236, 234, 234);
	border: none;
	border-radius: 3rem;
	color: black;
	position:relative;
	top:5px;
}

main > div > div > div > form:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
	position:relative;
	top:120px;
	background-color: rgba(255, 255, 255, 0.76);
	border-radius: 3px;
	
}


main > div > div > div > form:nth-child(2) > div:nth-child(3) > div:nth-child(1) > input {
	width: 20%;	
} 

#kind {
	position:relative;
	top:100px;
	-webkit-appearance: none;
	/* -moz-appearance: none; */
	border-radius: 3px;
	appearance: none; 
	background-color: rgba(255, 255, 255, 0.76);
	font-size: large;
	border: none;
	font-size:18px;
	/* background-image: url('http://localhost:8000/imgs/triangleIcon.svg');
	background-repeat: no-repeat;
	background-size: 10% 60%;
	background-position: right 14% center; */
}
