html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
	background-color: #EBEBEB;
}


/* blue bar */
main > div > div > img {
	width: 100%;
	
}

/* information part */
main > div {
	margin-top: -5%;
}

/* photo */
main > div > div > div:nth-child(1) > div:nth-child(1) {
	position: relative;
	z-index: 5px;
	overflow: hidden;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

main > div > div > div> div:nth-child(1) > img {
	display: inline;
	margin: 0 auto;
	height: 100%;
}

/* card */

.card {
	background-color: rgba(242, 239, 239, 0.58);
	border-radius: 2rem;
	border: none;
}


/* edit icon */

main > div > div > div > div > div > div > form > div > a {
	width: 20px;
	height: 20px;
	margin-bottom: 0.5rem;
	border-radius: 50%;
}

main > div > div > div > div > div > div > form > div > a > img {
	width: 20px;
	height: 20px;
	margin-bottom: 0.5rem;
}

main > div > div > div > div > div > div > form > div > a:nth-child(3) {
	display: none;
}

/* pay icon */
main > div > div > div > div > div > div:nth-child(6) > form > a > img {
	width: 25%;
}

/* Client information */
main > div > div > div > div > div div input{
	background-color: rgb(230,239,248);
	border-radius: 0.8rem;
	border:darkgray 1px solid;
	width: 80%;
}

.form-control {
	background-color: rgb(248, 250, 252);
	border-radius: 0.8rem;
	border:deepskyblue 1px solid;
	padding: 0;
	padding-right: 0;
	width: 80%;
}
.form-control:disabled {
	background-color: rgb(230,239,248);
	border-radius: 0.8rem;
	border:darkgray 1px solid;
	padding: 0;
	padding-right: 0;
	width: 80%;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
	border: rgb(220, 53, 69) 1px solid;
	background-color: rgb(248, 250, 252);
	border-radius: 0.8rem;
	padding: 0;
	padding-right: 0;
	width: 80%;
}

.form-control.is-invalid:disabled{
	background-color: rgb(230,239,248);
	border-radius: 0.8rem;
	padding: 0;
	padding-right: 0;
	width: 80%;
}

main > div.row{
	position: relative;
	top:10px;
}

main > div.container > div.row > div.col-4.d-flex.align-items-center.flex-column{
	position: relative;
	left:-20px;
	background-color: rgba(242, 239, 239, 0.58);
	border-radius: 2rem;
	border: none;
}
main > div.container{
	position: relative;
	top:-20px;
}

main > div.container > div.row > div.col-4.d-flex.align-items-center.flex-column>div.container.d-flex.justify-content-center.border.border-dark{
	position: relative;
	top:40px;
}

main > div.container > div.row > div.col-4.d-flex.align-items-center.flex-column>div.mt-5.text-center{
	position: relative;
	top:40px;
}
main > div.container > div.row > div.col-8{
	position: relative;
	right:-15px;
	
}