html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}


/* main > div {
	position: relative;
	background-color: rgba(230, 227, 227, 0.767);
	
	top:5px;
} */

/* roommate list */
/* main > div > div > div {
	background-image: linear-gradient(to bottom right, #B4D5EF , #92C3E9);
	border-radius: 5rem;
} */

/* list item */

main > div > div > div > a {
	text-decoration: none;
	color: black;
	background-color: rgba(237, 242, 252, 0.925);
	border-radius: 3rem;
}

main > div > div > div > a > h4,p {
	margin-bottom: 0;
}

/* main{
	background-color: rgb(216, 216, 216);
} */

main > div > div > div > a > p.col-2.text-end.d-flex.justify-content-end.align-items-center{
	white-space:nowrap;
	
}

main > div > div > div > a{
	position:relative;
	top: -15px;
	
}

main > div > div > div > a > h4{
	font-size:20px;
	font-weight:bold;
}