main > div {
	position: relative;
	
	top:5px;
}

#app > main > div > div > div.col-7 > div:nth-child(1){
	background-color: rgba(237, 242, 252, 0.925);
	border-radius: 3rem;
}

/* house info */
main > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {

}

main > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div {
	background-color: rgb(255, 255, 255);
	border-radius: 3rem;
}

main > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div > p{
	margin-bottom: 0;
}

/* house title */
main > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > h1 {
	margin-bottom: 0;
	/* font-size: 20px; */
	font-weight: bold;
}

/* house href */
main > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a {
	background-color: #2da5eb;
	text-decoration: none;
	border-radius: 3rem;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

/* description */
main > div > div > div:nth-child(1) > div:nth-child(2) {
	background-color: rgba(237, 242, 252, 0.925);
	border-radius: 3rem;
	min-height: 330px;
}

main > div > div > div:nth-child(2) > div {
	background-color: rgba(237, 242, 252, 0.925);
	border-radius: 3rem;
}

/* poser info */

main > div > div > div:nth-child(2) > div {
	min-height: 575px;
}

main > div > div > div:nth-child(2) > div > div:nth-child(1) > h3 {
	padding-left: 0;
	padding-right: 0;
}

main > div > div > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) {
	width: 150px;
	height: 150px;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}

main > div > div > div:nth-child(2) > div > div:nth-child(1) > div:nth-last-child(-n+2) {
	background-color: rgb(255, 255, 255);
	border-radius: 3rem;
	height: 13%;
	width: 80%;
}

main > div > div > div:nth-child(2) > div > div:nth-child(1) > div > img {
	padding-left: 0;
	padding-right: 0;
	border: #444444 5px solid;
}

main > div > div > div:nth-child(2) > div > div:nth-child(2) > h3 {
	color: #398eee;
	font-size: 25px;
}

#app > main > div > div > div.col-7 > div:nth-child(1) > div.col-7.mt-5{
	position:relative;
	left:15px;
}

#app > main > div > div > div.col-7 > div.row.my-4 > div > h4{
	padding-top: 5px;
	padding-left:5px;
}
#app > main > div > div > div.col-7 > div.row.my-4 > div > p{
	padding-top: 5px;
	padding-left:5px;
}

#app > main > div > div > div.col-7 > div.row.py-4.px-4 > div.col-7 > div:nth-child(1) > a:hover{
	background-color: #126494;

}

