html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}





body {
	background: url('../imgs/lighter_background.svg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* body */
body > div > main > div > div {
	font-family: 'Shippori Antique B1', sans-serif;
	min-height: 50vh;
}

/* title */
body > div > main > div > div > div > div:nth-child(1) > div > h1 {
	text-shadow: 0.5px 0.5px 1px black;
}

/* subtitle */
body > div > main > div > div > div > div:nth-child(2) > div > p {
	
}

/* Get started btn */
body > div > main > div > div > div > div:nth-child(3) > div > a {
	border-radius: 5rem;
	background-color: #94E0EE;
	padding: 4% 5%;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

body > div > main > div > div > div > div:nth-child(3) > div > a:hover {
	background-color: #7bd8e9;
}


#app > main > div > div > div > div:nth-child(1) > div{
	position: relative;
	top:50px;
}

#app > main > div > div > div > div:nth-child(2) > div{
	position: relative;
	top:50px;
}
#app > main > div > div > div > div:nth-child(3) > div{
	position: relative;
	top:100px;
}


