/* General rules */

body {
	margin: 0px;
	padding: 0;
	background-color: #ffffff;
}

a[href] {
	text-decoration: none;
}

a[class="top-menu-item"]:hover {
	text-decoration: underline;
}

/* Top menu */

.top-menu-list {
	margin: 2px;
	width: 100vw;
	height: 40px;
	background: #55cbcd;
	position: absolute;
	box-shadow: 0 0 2px 2px #43a3a5;
}

.home-icon {
	left: 10px;
	top: calc(50% - 15px);
	position: absolute;
}

img[src="images/homeIcon.png"] {
	width: auto;
	height: 30px;
}

.top-menu ul li{
	display: inline;
}

.top-menu-item{
	left: 73vw;
	top: calc(50% - 10px);
	position: relative;
	margin: 1.5vw;
}

.top-menu-item-text {
	width: 114.59px;
	height: 14.67px;
	color: #f7f6f3;
	font-family: "Lao Sangam MN";
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
}

img[alt="avatar"] {
	width: 35px;
	height: 35px;
}

/* Main block */

.main-block {
	position: relative;
	top: 82px;
}

.subscribe-area {
	position: inherit;
	background-color: #bbb;
	display: block;
}

img[id="bottomLine0"] {
	position: absolute;
	top: 45px;
	left: 4%;
}

img[id="bottomLine1"] {
	position: absolute;
	top: 45px;
	right: 4%;
}

img[src="images/subscribeBtn.png"] {
	position: absolute;
	left: calc(50% - 155px);
}

img[src="images/mainIcon.png"] {
	position: relative;
	left: calc(50% - 405px);
	width: 810px;
	height: auto;
}