/* main > div {
	background-color: #DBDBDB;
	border-radius: 5rem;
} */

/* post button */
main > div > div > div > div:nth-child(2) > a {
	background-color: #afccf7 ;
	border-radius: 4rem;
	text-decoration: none;
	position: relative;
}

main > div > div > div > div:nth-child(2) > a > h4{
	font-weight: bold;
	color: #040404;
}

main > div > div > div > div:nth-child(2) > a > img{
	position: absolute;
	right: 5%;
	opacity: 0.2;
	height: 85%;
}

main > div > div > div > div:nth-child(1) > h1 {
	white-space:nowrap;
	font-weight: bold;
	font-size:30px;
}

main > div > div > div:nth-child(2) > div:nth-last-child(-n+6) {
	border-radius: 3rem;
	background-color: rgba(237, 242, 252, 0.925);
}

main > div > div > div:nth-child(2) > div:nth-last-child(-n+6) > p,a {
	margin-bottom: 0;
}

#app > main > div > div > div.col-7.pe-5 > div:nth-child(1){
	position:relative;
	left:-40px;
}

main > div > div > div > div:nth-child(2) > a:hover{
	background-color: #8fb6f1;

}
#app > main > div > div > div.col-7.pe-5 > div:nth-child(7) > a{
	text-decoration: none;
}