/* main > div {
	background-color: #DBDBDB;
	border-radius: 5rem;
} */

main > div > div > a {
	/* border-radius: 3rem;
	background-color: #9FE0E2; */
	text-decoration: none;
	color: #040404;
	
}

#app > main > div > div > a > h1{
	font-weight: bold;

}
main > div > div > a:hover {
	color: #040404;
}

/* select */
main > div > form > div:nth-child(2) > label {
	font-size: x-large;
	top: 16%;
	left: 6%;
	position: absolute;
}
#people {
	-webkit-appearance: none;
	appearance: none; 
	background-color: rgba(237, 242, 252, 0.925);
	font-size: x-large;
	border-radius: 3rem;
	border: none;
	background-image: url('../imgs/triangleIcon.svg');
	background-repeat: no-repeat;
	background-size: 5% 40%;
	background-position: right 3% center;
	width: 100%;
	height: 100%;
	direction: rtl;
}

#people > option {
	direction: ltr;
}

main > div > form > div:nth-child(2) {
	position: relative;
	border-radius: 3rem;
	background-color: rgba(237, 242, 252, 0.925);
	
}
/* Description */
main > div > form > div {
	border-radius: 3rem;
	background-color: rgba(237, 242, 252, 0.925);

}

main > div > form > div:nth-child(3) > label {
	font-weight: bold;
}

#description {
	background-color: rgba(237, 242, 252, 0.925);
	border-radius: 2rem;
	font-size: large;
	border: none;
	/* min-height: 270px; */
}

/* submit btn */
main > div > form > input {
	border: none;
	border-radius: 3rem;
	background-color: #afccf7;
	font-weight: bold;
	width: 10%;
}

main > div > form > input:hover {
	background-color: #88b3f5;
}