/* General rules */

body {
	margin: 0px;
	padding: 0;
	background-color: #ffffff;
}

a[href] {
	text-decoration: none;
}

a[class="top-menu-item"]:hover {
	text-decoration: underline;
}

/* Top menu */

.top-menu-list {
	margin: 2px;
	width: 100vw;
	height: 40px;
	background: #55cbcd;
	position: absolute;
	box-shadow: 0 0 2px 2px #43a3a5;
}

.home-icon {
	left: 10px;
	top: calc(50% - 15px);
	position: absolute;
}

img[src="images/homeIcon.png"] {
	width: auto;
	height: 30px;
}

.top-menu ul li{
	display: inline;
}

.top-menu-item{
	left: 73vw;
	top: calc(50% - 10px);
	position: relative;
	margin: 1.5vw;
}

.top-menu-item-text {
	width: 114.59px;
	height: 14.67px;
	color: #f7f6f3;
	font-family: "Lao Sangam MN";
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
}

/* Login interface */

.login-block {
	position: absolute;
	top: calc(50% - 283px);
	left: calc(50% - 341px);
	width: 682px;
	height: 566px;
	border-radius: 8px;
	border: solid 1px #fcb9aa;
	background: rgba(255,219,204,0.2);
}

.login-header {
	position: relative;
	left: calc(50% - 170px);
	width: 340px;
	height: 103px;
	font-family: Luminari;
	font-size: 70px;
	font-weight: 400;
	line-height: 94px;
	text-align: center;
}

.login-form {
	display: block;
	position: relative;
	height: 200px;
	left: calc(50% - 220px);
}

form[class="login-form"] input {
	width: 375px;
	height: 44px;
}

.email-section {
	position: relative;
	top: 30px;
}

img[src="images/email.png"] {
	position: relative;
	top: 15px;
}

.password-section {
	position: relative;
	top: 58px;
	height: 130px;
}

img[src="images/password.png"] {
	position: relative;
	top: 15px;
}

img + input {
	position: relative;
	left: 20px;
	font-size: 18px;
}

i[id="togglePassword"] {
	position: relative;
	margin-left: -30px;
	cursor: pointer;
}

.dont-have-account {
	position: relative;
	left: 64px;
}

div[class="dont-have-account"] a {
	text-decoration: underline;
}

/* input[type="image"] {
	position: relative;
	top: 50px;
	left: calc(50% - 104px);
} */

button[class="login-button"] {
	/* Background */
	position: relative;
	top: 50px;
	left: 120px;
	width: 208px;
	height: 60px;
	border-radius: 8px;
	background-color: #fcb9aa;
	display: inline-block;
	border: none;
	cursor: pointer;
	/* Text */
	color: #ffffff;
	font-family: "Lao Sangam MN";
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}

/* a[class="login-button-text"] {
	background-color: chartreuse;
	width: 156px;
	height: 45px;
	color: #ffffff;
	font-family: "Lao Sangam MN";
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
} */